body {
    background: #EEEEEE;
    font: 12px "Times New Roman", Times, sans-serif;
    line-height: 1.4;
    margin: 40px 0;
}
em {
    color: #999;
}
p {
    line-height: 1.4;
    margin-bottom: 0;
    text-indent: 15px;
}
ul {
    margin-bottom: 0;
    padding-left: 20px;
    margin-top: 6px;
    list-style-type: circle;
}
li {
    margin-bottom: 2px;
}
a {
    text-decoration: none;
}
.resume {
    margin: 0 auto;
    max-width: 600px;
    padding: 80px 100px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
}
.coursesList {
    width: 28%;
    vertical-align: top;
    display: inline-block;
}
.largeFont {
    font: 20px Helvetica;
}
.smallFont {
    font: 12px Verdana;
}
.sectionName {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    font: 140% Helvetica, Arial;
    text-transform: uppercase;
    color: #BC1B39;
}
.title {
    font-weight: bold;
}
.date {
    float: right;
    font-weight: normal;
}
.separator {
    height: 5px;
}
.sectionLine {
    border-style: dashed;
    border-width: 1px;
    border-color: #CFCFCF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.divider {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.summary {
    margin-top: 6px;
}
.worksummary {
    margin-top: 0;
    padding: 0 15px 0 15px;
}
.skillBlock {
    margin-bottom: 4px;
}
.volunteerhead {
    margin-bottom: 0;
}
.volunteersummary {
    margin: 0;
}
/*
 * Set some print settings. We're going to try and enforce 1" margins.
*/
@media print {
    @page {
        size: letter portrait;
        margin: 25mm 25mm 25mm 25mm;
    }
    .resume {
        max-width: 100%;
        border: 0px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    body,
    html,
    .resume {
        margin: 0px;
        padding: 0px;
    }
}
